/* add item */
#add_item{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;

    /* testing */
    /* background-color: salmon; */
}

#add_item #input_add_item{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#add_item #button_add{
    padding: 0.2rem 1.2rem;
}

.add_item_component{
    padding: 0.5rem;
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
}